.site-header {
	.main-navigation {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;

		.menu {
			list-style: none;
			display: flex;
			padding: 0;
			margin: 0;
			font-size: 1em;
			line-height: 1.4em;
	
			> li {
				margin-left: 56px;
	
				&:first-child {
					margin-left: 0;
				}
	
				> a {
					display: inline-block;
					padding: 9px 0;
					color: $color__nav-link;
					text-decoration: none;
				}
			}
		}
	
		.sub-menu {
			display: none;
		}
	}
	
	.menu-toggle {
		display: none;
	}

	&.solid {
		background-color: $color__background-body;
		.main-navigation {
			.menu {
				> li {
					> a {
						color: $color__dark;
					}
				}
			}
		}
	}
}
