.topline-nav {
	background-color: $color__background-nav;
	color: $color__nav-content;
	font-size: 12px;
	line-height: 2;

	a {
		color: $color__nav-link;
		text-decoration: none;
	}

	.menu {
		@include container();
		list-style: none;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 0;

		li {
			margin-left: 40px;
			padding: 8px 0;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}
