h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
}

h1 {
	font-family: $font__title;
	color: $color__dark;
	line-height: 140%;
	font-size: 56px;

	@include media( $tablet__only ) {
		font-size: 48px;
	}

	@include media( $mobile__only ) {
		font-size: 28px;
	}
}

h2 {
	font-family: $font__title;
	color: $color__dark;
	line-height: 140%;
	font-size: 48px;


	@include media( $tablet__only ) {
		font-size: 30px;
	}

	@include media( $mobile__only ) {
		font-size: 24px;
	}
}

h3 {
	font-size: 40px;

	@include media( $tablet__only ) {
		font-size: 24px;
	}

	@include media( $mobile__only ) {
		font-size: 20px;
	}
}

h4 {
	font-size: 1.4em;
	margin-bottom: 8px;
}

h5 {
	font-size: 1.3em;
}
