.wp-block-group {
	@include block-group();

	&__inner-container {
		.has-background & {
			@include container();
		}
	}

	&.has-background {
		margin-left: calc( ( 100vw - 100% ) / -2 );
		margin-right: calc( ( 100vw - 100% ) / -2 );
	}
}

.ays-styles{
	.wp-block-group{
		position: relative;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}