// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin container() {
	max-width: $width__container;
	padding-left: $gutter / 2;
	padding-right: $gutter / 2;
	margin-left: auto;
	margin-right: auto;
}
