.alpha-card {

	&-icon {
		position: absolute;
		color: $color__accent;
		font-size: 34px;
	}

	&.has-style {
		&-shadow {
			@include rounded-shadow();
			padding: 20px;
		}

		&-plain {
			&.has-icon {
				padding-left: 60px;
				position: relative;
			}
			
			.alpha-card-icon {
				left: 0;
				top: -8px;
			}
		}
	}

	.wp-block-image {
		margin: 1em auto;
		width: 6em;
		height: 6em;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			max-width: 6em;
			max-height: 6em;
		}
	}

	p {
		margin: 0 0 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
