.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

	&-columns {
		display: flex;
		flex-wrap: wrap;
	}

	&-column {
		margin-right: 3%;

		&:last-child {
			margin-right: 0;
		}
	}
}

@import "alpha-cta";
